.title{
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 175px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
  background-color: rgb(207, 204, 19);
}
.TRbuttons{
  display: flex;
  justify-content: center;
  background-color: #6f1c72; /* Green */
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.ESbuttons{
  display: flex;
  justify-content: center;
  background-color: #6f1c72; /* Green */
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.container{
  display: flex;
  justify-content: center;
  background-color: #404597; /* Green */
}

.gifText{
  display: grid;
  place-content: center;
  height: 5vh;
  background: $color;
  font-family: 'Red Hat Display', sans-serif;
  color: #fefefe;
}

.card{
  display: grid;
  place-content: center;
}

.everything{
  background-color: yellow;
}